<div class="row">
  <div class="span9">
  	<h1>Viewing All Texts</h1>
    <%= will_paginate %>
    <ul class="texts">
      <%= render @texts %>
    </ul>
  </div>
  <div class="span3">
  	<h3>Stats</h3>
  	Top people texted:
  	<ol>
  		<% @top_names.each do |name, number| %>
  			<li><%= name %> -- <%= number %></li>
  		<% end %>
  	</ol>
</div>
